<!DOCTYPE html>
<html>
<head>
    <link href='app.css' rel='stylesheet' type='text/css'/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="jquery.kontrol.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div id=scope>
  <canvas id="scopeData" height=450 width=450></canvas>
</div>
<div id=params>
  <div class="dialdiv">
    <input class="dial" id="trigger" data-width="60" data-height="60" data-min=0 data-max=100 data-angleOffset="-125" data-angleArc="250" data-flatMouse="1" value="0"/>
    <div class="label">  Trigger </div>
  </div>
  <div class="dialdiv" id="gridDial">
    <input class="dial" id="grid" data-width="60" data-height="60" data-min=0 data-max=100 data-angleOffset="-125" data-angleArc="250" data-flatMouse="1" value="10"/>
    <div class="label">  Grid </div>    
  </div>
</div>
</body>
</html>
