<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>#PROJNAME.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.#COMPANY_UNDERSCORED.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>GFgf</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>AudioComponent</key>
	<dict>
		<key>sandboxSafe</key>
		<true/>
		<key>manufacturer</key>
		<string>#MANUCODE</string>
		<key>factoryFunction</key>
		<string>AudioFactory</string>
		<key>subtype</key>
		<string>#TYPECODE</string>
		<key>description</key>
		<string>#DESCRIPTION</string>
		<key>name</key>
		<string>#COMPANY_UNDERSCORED: #NAME</string>
		<key>version</key>
		<string>0x00000001</string>
	</dict>
</dict>
</plist>
