<html>
  <head>
		<link type="text/css" href="css/dark-hive/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.19.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){

				// Slider
				$('#slider').slider({
                  start: function(event, ui) {
                     AudioUnit.Gain.BeginGesture();
                  },
                  stop: function(event, ui) {
                     AudioUnit.Gain.EndGesture();
                  },
                  slide: function(event, ui) {
                     AudioUnit.Gain.Set(ui.value / 100);
                  }
                });

			});
		</script>
  </head>
  <body>
    <H1> AUDIO UNIT </H1>
    <div width="50%" id="slider"></div>    
    <script type="text/javascript">
        AudioUnit.Gain.OnParameterChange = function() {
            document.write(AudioUnit.Params.Gain.id + "<br>");
            document.write(AudioUnit.Gain.Get() + "<br>");
            document.write(AudioUnit.Gain.id + "<br>");
        }
        AudioUnit.Gain.Set(.3);
    </script>
  </body>
</html>
